#container {
    width: 40%;
    height: 100%;
    margin: 0 30% 0 30%;
    padding-top: 1%;

    box-sizing: border-box;
}

input {
    box-sizing: border-box;
    width: 100%;
    opacity: 0.9;
    background: #777777;
    border: none;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    color: white;
}

::placeholder {
    color: #c9c9c9;
}

h3 {
    margin-bottom: 0;
}

button {
    float: right;
    margin-top: 10px;
    padding: 10px;
    color: white;
    border-radius: 20px;
    border: 0;
    width: 150px;
    background-color: #1db954;

    transition: transform .2s;
}

button#cancel, button#generate {
    background-color: #777777;
}

button#cancel {
    margin-right: 10px;
}

button:hover {
    transform: scale(1.1);
}