html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background: linear-gradient(to bottom, #1db954, #1db954, #191414);
}