.container {
    box-sizing: border-box;
    background-color: rgba(50, 50, 50, 0.3);
    border-radius: 20px;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    height: 500px;

    text-align: center;
}

.container p {
    margin: 30px;
    text-align: left;
    line-height: 1.4;
}

.container #button {
    box-sizing: border-box;
    width: 80%;
    position: absolute;
    left: 10%;
    bottom: 30px;
    border-radius: 20px;
    padding: 10px 0 10px 0;

    background-color: #1db954;
}

.container #button img {
    height: 20px;
    transform: translate(0, 15%);
}

a {
    color: white !important;
}