.container {
    box-sizing: border-box;
    background-color: rgba(50, 50, 50, 0.3);
    border-radius: 20px;

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 300px;
    height: 500px;

    text-align: center;
}

.container p {
    margin: 30px 30px 0 30px;
    text-align: left;
    line-height: 1.2;
}

.container .button {
    box-sizing: border-box;
    width: 80%;
    border-radius: 20px;
    padding: 10px 0 10px 0;
    transition: transform .2s;
}

.container .button:hover {
    transform: scale(1.05);
}

.container #spotify {
    position: absolute;
    left: 10%;
    bottom: 20px;
    background-color: #1db954;
    box-shadow: #246538 1px 1px 10px;
}

.container #configure {
    margin: 10px 0 0 10%;
    background-color: #535052;
    box-shadow: #484445 1px 1px 10px;
}

.container .button img {
    height: 20px;
    transform: translate(0, 15%);
}

a {
    color: white !important;
    text-decoration: none;
}