#album-cover-container {
    box-sizing: border-box;
    height: 100%;
    width: 60%;
    float: left;
}

#album-cover {
    width: 60%;
    height: 60%;
    margin: 20% 0 0 20%;
}

#details-container {
    box-sizing: border-box;
    height: 100%;
    width: 40%;
    float: left;
    padding-top: 22%;
}

#details-container p {
    font-size: 25px;
    margin: 5px 0 0 0;
}

#details-container h1 {
    margin-bottom: 5px;
}