#container {
    width: 40%;
    height: 100%;
    margin: 0 30% 0 30%;
    padding-top: 1%;

    box-sizing: border-box;
}

input {
    box-sizing: border-box;
    width: 100%;
    opacity: 0.9;
    background: #727272;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    color: white;
}

:disabled {
    background: #585858;
}

::placeholder {
    color: #c9c9c9;
}

h3, h5 {
    margin-bottom: 0;
}

button, #cancel {
    box-sizing: border-box;
    text-align: center;

    float: right;
    margin-top: 10px;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: 0;
    width: 150px;
    height: 33px;
    font: 400 11px system-ui;
    overflow: hidden;
    background-color: #1db954;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: transform .2s;
}

#cancel, button#generate {
    background-color: #818181;
}

#cancel {
    margin-right: 10px;
}

button:hover, #cancel:hover {
    transform: scale(1.05);
}

p {
    margin: 0;
}

/**************************************
****** loader CSS *********************
**************************************/

@keyframes anima1 {
    0%   { top: 0;                 left: 0;                 }
    25%  { top: 0;                 left: calc(100% - 20px); }
    50%  { top: calc(100% - 20px); left: calc(100% - 20px); }
    75%  { top: calc(100% - 20px); left: 0;                 }
    100% { top: 0;                 left: 0;                 }
}

@keyframes anima2 {
    0%   { top: 0;                 left: calc(100% - 20px); }
    25%  { top: calc(100% - 20px); left: calc(100% - 20px); }
    50%  { top: calc(100% - 20px); left: 0;                 }
    75%  { top: 0;                 left: 0;                 }
    100% { top: 0;                 left: calc(100% - 20px); }
}

@keyframes anima3 {
    0%   { top: calc(100% - 20px); left: calc(100% - 20px); }
    25%  { top: calc(100% - 20px); left: 0;                 }
    50%  { top: 0;                 left: 0;                 }
    75%  { top: 0;                 left: calc(100% - 20px); }
    100% { top: calc(100% - 20px); left: calc(100% - 20px); }
}

@keyframes anima4 {
    0%   { top: calc(100% - 20px); left: 0;                 }
    25%  { top: 0;                 left: 0;                 }
    50%  { top: 0;                 left: calc(100% - 20px); }
    75%  { top: calc(100% - 20px); left: calc(100% - 20px); }
    100% { top: calc(100% - 20px); left: 0;                 }
}

body {
    margin: 0;
}

#loader {
    margin-left: 55%;
    transform: translateX(-50%);
    height: 30px;
    width: 30px;
    position: relative;
}

.item {
    position: absolute;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    background-color: white;
}

.item:nth-child(1) {
    top: 0;
    left: 0;
    animation: anima1 2s ease infinite;
}

.item:nth-child(2) {
    top: 0;
    right: 0;
    animation: anima2 2s ease infinite;
}

.item:nth-child(3) {
    bottom: 0;
    left: 0;
    animation: anima3 2s ease infinite;
}

.item:nth-child(4) {
    bottom: 0;
    right: 0;
    animation: anima4 2s ease infinite;
}