#playing-container {
    all: unset;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center; /* TODO: remove this if ever I can implement a queue */
}

#playing {
    max-width: 50%;
    flex: 0 0 50%;
    box-sizing: border-box;
    padding: 4rem;
}

#album {
    width: 100%;
}

#album-cover {
    width: 100%;
    overflow: hidden;
    border-radius: 1rem;
    transition: box-shadow 0.5s, transform 0.5s;
}

#title {
    margin-bottom: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
